<div class="page-container">
  <div class="page-header flights-header" *transloco="let translate">
    <h1>
      <mat-icon>flight</mat-icon>
      {{translate('workerFlights')}}
    </h1>
    <div class="divider"></div>
  </div>

  <mat-sidenav-container class="container" *transloco="let translate">

    <mat-sidenav #sidenav mode="side" class="flights-sidenav" [autoFocus]="false">
      <app-flights-details [selectedWorkerFlights]="selectedWorkerFlights" (closeEmitter)="closeSidenav()">
      </app-flights-details>
    </mat-sidenav>

    <mat-sidenav-content>

      <ng-container *ngIf="showWorkers">
        <div class="click-hint" *transloco="let translate">
          <mat-icon>touch_app</mat-icon>
          {{translate('clickDetails')}}
        </div>
      </ng-container>

      <div *ngIf="!loading && showWorkers" class="workers-grid content-card">
        <div *ngFor="let worker of workers" class="worker-card" (click)="selectWorker(worker)">
          <div class="worker-avatar">
            <mat-icon>person</mat-icon>
          </div>
          <div class="worker-info">
            <h3>{{worker.name}}</h3>
            <p class="worker-company">
              <mat-icon>{{worker.company.icon}}</mat-icon>
              {{worker.company.name}}
            </p>
          </div>
          <mat-icon class="arrow-icon">chevron_right</mat-icon>
        </div>
      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>

  <mat-spinner *ngIf="loading"></mat-spinner>
</div>
