<ng-container *transloco="let translate">
  <div class="details-card">
    <div class="details-row">
      <span class="label">
        <mat-icon>phone</mat-icon>
        {{translate('phone')}}
      </span>
      <span class="value">{{reporter.phone}}</span>
    </div>

    <div class="details-row">
      <span class="label">
        <mat-icon>email</mat-icon>
        {{translate('email')}}
      </span>
      <span class="value">{{reporter.email}}</span>
    </div>

    <div class="details-row">
      <span class="label">
        <mat-icon>location_city</mat-icon>
        {{translate('city')}}
      </span>
      <span class="value">{{reporter.address.city}}</span>
    </div>

    <div class="details-row">
      <span class="label">
        <mat-icon>location_on</mat-icon>
        {{translate('streetAddress')}}
      </span>
      <span class="value">{{reporter.address.street}}</span>
    </div>

    <div class="details-row">
      <span class="label">
        <mat-icon>home</mat-icon>
        {{translate('suite')}}
      </span>
      <span class="value">{{reporter.address.suite}}</span>
    </div>

    <div class="details-row">
      <span class="label">
        <mat-icon>markunread_mailbox</mat-icon>
        {{translate('zipCode')}}
      </span>
      <span class="value">{{reporter.address.zipcode}}</span>
    </div>

    <div class="details-row">
      <span class="label">
        <mat-icon>explore</mat-icon>
        {{translate('streetAddressLatitude')}}
      </span>
      <span class="value">{{reporter.address.geo.lat}}</span>
    </div>

    <div class="details-row">
      <span class="label">
        <mat-icon>explore</mat-icon>
        {{translate('streetAddressLongitude')}}
      </span>
      <span class="value">{{reporter.address.geo.lng}}</span>
    </div>

    <div class="details-row">
      <span class="label">
        <mat-icon>business</mat-icon>
        {{translate('company')}}
      </span>
      <span class="value">{{reporter.company.name}}</span>
    </div>

    <div class="details-row">
      <span class="label">
        <mat-icon>work</mat-icon>
        {{translate('companyBusinessServices')}}
      </span>
      <span class="value">{{reporter.company.bs}}</span>
    </div>

    <div class="details-row">
      <span class="label">
        <mat-icon>format_quote</mat-icon>
        {{translate('companyCatchphrase')}}
      </span>
      <span class="value">{{reporter.company.catchPhrase}}</span>
    </div>
  </div>
</ng-container>

<mat-spinner *ngIf="loading" diameter="40"></mat-spinner>
