<div class="page-container">
  <div class="page-header news-header" *transloco="let translate">
    <h1>
      <mat-icon>newspaper</mat-icon>
      {{translate('news')}}
    </h1>
    <div class="divider"></div>
  </div>

  <div class="m-lg content-card" *transloco="let translate">
    <mat-button-toggle-group [(value)]="selectedNews" class="news-toggle">
      <mat-button-toggle value="technology">
        <mat-icon>computer</mat-icon>
        {{translate('technology')}}
      </mat-button-toggle>
      <mat-button-toggle value="serbian">
        <mat-icon>public</mat-icon>
        {{translate('serbian')}}
      </mat-button-toggle>
    </mat-button-toggle-group>

    <div class="news-content">
      <app-technology *ngIf="selectedNews === 'technology'"></app-technology>
      <app-serbian *ngIf="selectedNews === 'serbian'"></app-serbian>
    </div>
  </div>
</div>
