.table-wrapper {
  position: relative;
  height: 400px;
  overflow: auto;

  table {
    width: 100%;

    .mat-column-id {
      width: 60px;
    }

    .mat-row {

      height:45px;

      &:hover {
        background-color: whitesmoke;
      }
    }

    th,
    td {

      &:not(:last-child) {
        border-right: 1px solid #f1f1f1;
      }

      &:not(:first-child) {
        padding-left: 25px;
      }
    }

    .selected {
      background-color: lightgray;
    }
  }
}

mat-panel-description {
  justify-content: end;
}
