// Place styles here

.search-field {
  margin-top: 10px;
}

.arrow-btn {
  margin-left: 10px !important;
}

.card {
  max-width: 360px;
  margin: 30px;
}

.published {
  margin: 0 !important;
}
