/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-spinner {
  margin: 30px auto;
}

/* HELPER CLASESS */

.m-0 {
  margin: 0 !important;
}

.m-lg {
  margin: 30px !important;
}

.mtb-lg {
  margin: 30px 0 !important;
}

.m-md {
  margin: 10px !important;
}

.mt-md {
  margin-top: 10px !important;
}

.mb-md {
  margin-bottom: 10px !important;
}

.ml-md {
  margin-left: 10px !important;
}

.mr-sm {
  margin-right: 5px !important;
}

.bold {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.cursor-pointer {
  cursor: pointer;
}

.mobile {
  display: none !important;
}

@media only screen and (max-width: 960px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }
}
